@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: #1D1D1D;
    color: white;
    font-family: Inter, sans-serif;
}

.carousel-container {
    position: relative !important;
    overflow: visible !important;
    z-index: auto !important;
}